<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Filters -->
    <filter>
        <filter-name>HitCounter</filter-name>
        <filter-class>com.google.code.unlp.tesis.volatiler.HitCounterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HitCounter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AddSomethingAtTheBottom</filter-name>
        <filter-class>com.google.code.unlp.tesis.volatiler.AddSomethingAtTheBottomFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddSomethingAtTheBottom</filter-name>
        <url-pattern>/googleMaps.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Xslt</filter-name>
        <filter-class>com.google.code.unlp.tesis.volatiler.XsltFilter</filter-class>
        <init-param>
            <param-name>xslPath</param-name>
            <param-value>/xml/html.xsl</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Xslt</filter-name>
        <url-pattern>/googleMaps.jsp</url-pattern>
    </filter-mapping>
    <!-- 
    <filter-mapping>
        <filter-name>Xslt</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
     -->

    <!-- Servlets -->
    <servlet>
        <servlet-name>greetServlet</servlet-name>
        <servlet-class>com.google.code.laplatafarmacias.server.GreetingServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPharmaciesOnDuty</servlet-name>
        <servlet-class>com.google.code.laplatafarmacias.server.servlet.GetPharmaciesOnDuty</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>greetServlet</servlet-name>
        <url-pattern>/laplatafarmacias/greet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPharmaciesOnDuty</servlet-name>
        <url-pattern>/laplatafarmacias/getPharmaciesOnDuty</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>googleMaps.jsp</welcome-file>
    </welcome-file-list>

</web-app>
